/*
Colors used:
Primary Color (Blue): #4c96cc;
Secondary Color (Pink): #cf534a;
*/

font-family: 'Space Grotesk', sans-serif;
body {
  background-color: #4679cc;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #cf534a;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
.logo {
  max-width: 100px;
}
header {
  text-align: center;
  background-color: #4c96cc;
color: #ffffff
display:inline-block;
  vertical-align:top;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    text-align: center;
    padding: 40px;
    color: #ffffff
}

nav {
  text-align: center;
  display: inline-block;
  width: 100%;
}
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}
.hero p {
  text-align: center;
}
.container {
  padding: 0 15px;
}
#work .row {
  margin: 25px 15px; /* 25 px top and bottom, 15 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
.expertpic {
  position: relative;
}


.button {
  display: inline-block; /
  background-color: #4c96cc;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #fffff;
  transition: 0.2s opacity;
}

.button.contact {
  display: inline-block;
  background-color: #4c96cc;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  margin: 10px
  border-radius: 3px;
  border-bottom: 2px solid #4e8e41;
  transition: 0.2s opacity;
}
