/*
Colors used:
Primary Color (Blue): #4c96cc;
Secondary Color (Pink): #cf534a;
*/

font-family: 'Space Grotesk', sans-serif;
body {
  background-color: #4679cc;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #cf534a;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
header {
  background-color: #4c96cc;
color: #ffffff
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #4c96cc;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #fffff; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact {
  background-color: #4c96cc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
